@font-face {
  font-family: headerFont;
  src: url(./fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: bodyFont;
  src: url(./fonts/CrimsonText-Regular.ttf);
}

body{
  font-family: bodyFont;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin: 0;
  background-image: linear-gradient(to top, #122f6a, #193d86 ,#2c57ae);
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px black;
  font-family: headerFont;
}

#main_header {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  border-radius: 0 0 10px 10px;
  margin: auto auto 0 auto;
  height: 35px;
  width: 90vw;
  box-shadow: -0.5px 2px 5px #425f9a;
  background-color: #041e53;
}

#topics_ul {
  width: 70vw;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#topic {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}

#topic:focus{
  color: rgb(56, 132, 255);
  text-decoration: underline;
}

#article_container {
  display: flex;
  flex-direction: column;
  height: 87.7vh;
}

#article_section {
  margin: 0 auto auto auto;
  padding: 10px;
  width: 85vw;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

#basic_article_cards {
  height: 100px;
  font-size: 13px;
  scroll-snap-align: start;
  margin: 5px;
  border-radius: 10px;
  box-shadow: -0.5px 2px 5px black;
} 


#article_title {
  color: #2c57ae;;
  text-decoration: underline;
}

#article_created_at {
  color: #626262;
}

#article_link {
  text-decoration: none;
}

#single_article {
  padding: 20px;
  border-radius: 10px;
  box-shadow: -0.5px 2px 5px black;
}

#info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#button_container {
  border-radius: 10px 10px 0 0;
  margin: auto;
  height: 6vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -1px 2px #2c57ae;
  border: black;
}

#button_container button:nth-child(1){
  border-radius: 10px 0px 0 0;
  background-image: linear-gradient(to top, #122f6a, #193d86 ,#2c57ae);
  width: 158.766px;
  font-size: 20px;
  height: 40px;
  border-color: #122f6a;

}

#button_container button:nth-child(n):active{
  background-image: linear-gradient(to top, #395ea7, #294e97 ,#2265eb);
}

#button_container button:nth-child(2){
  border-radius: 0px 10px 0 0;
  background-image: linear-gradient(to top, #122f6a, #193d86 ,#2c57ae);
  flex-grow: 2;
  font-size: 20px;
  border-color: #122f6a;
}

#info_count {
  background-color: rgb(215, 23, 23);
  border-radius: 100%;
  padding: 4px;
  font-weight: bolder;
  font-size: 14px;
  color: white;
}

#comment_link {
  text-decoration: none;
  border-radius: 10px 0px 0 0;
  font-size: 20px;
  border-color: #122f6a;
}

#article_body {
  font-size: 20px;
}

#return_link {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto 0 auto;
  width: 80vw;
  text-align: left;
  color: rgb(0, 0, 0);
}

#return_link:active {
  text-decoration: underline;
  color: #2c57ae;
}

#return_link:hover {
  text-decoration: underline;
  color: #2c57ae;
}

#comment_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#comment_section {
  height: 70vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.loader {
  margin: 0 auto 0 auto;
  border: 16px solid #b7b7b7; 
  border-top: 16px solid #122f6a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#next_article_btn {
  background-color: #041e53;
  color: rgb(255, 175, 36);
  position: relative;
  left: 162px;
  bottom: -240px;
  border-radius: 30px 0 0 30px;
  border-color: #041e53;
  height: 90px;
  width: 50px;
  opacity: 60%
}

#next_article_btn:active {
  opacity: 90%
}

#prev_article_btn {
  background-color: #041e53;
  color: rgb(255, 175, 36);
  position: relative;
  right: 163px;
  bottom: -240px;
  border-radius: 0px 30px 30px 0px;
  border-color: #041e53;
  height: 90px;
  width: 50px;
  opacity: 60%
}

#prev_article_btn:active {
  opacity: 90%
}

#next_link {
  background-color: #041e53;
  height: 0;
}

#user_avatar {
  background-color: white;
  height: 50px;
  margin: auto;
  width: 50px;
  border: 1px solid #041e53;
  border-radius: 50%;
}

#comment_user_info {
  border-radius: 10px 10px 0px 0;
  background-image: linear-gradient(to top, #122f6a,#2c57ae);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}

#comment_created_at{
  text-align: right;
  flex-grow: 3;
  color: #bbbbbb;
  padding-right: 10px;
  margin: auto;
}

#comment_author {
  flex-grow: 2;
  margin: auto;
}

#comment_li {
  margin-top: 20px;
  list-style: none;
}

#comment_section {
  margin: 0;
  padding: 0;
}

#comment_article {
  background-color: white;
  margin: auto;
  width: 85vw;
  margin-bottom: 20px;
  font-size: 13px;
  scroll-snap-align: start;
  border-radius: 10px;
  box-shadow: -0.5px 2px 5px black;
  padding: 0, 5px 5px 10px;
}

#comment_container {
  padding: 0
}

.comment_title {
  margin: 0;
  border-radius: 10px;
  box-shadow: 1px 6px 5px rgb(228, 228, 228)
}

#comment_body {
  font-size: 20px;
  word-wrap: break-word;
  text-align: left;
  padding: 0px 10px 10px 10px;
}

#votes_div {
  display: flex;
  flex-direction: column;
}

#comment_votes {
  margin-top: 5px;
  margin-bottom: 5px;
}

#vote_btn {
  color: #2265eb;
  font-size: 15px;
  border-radius: 100px;
  border-color: #2869ed;
}

#vote_btn:focus {
  background-color: #626262;
}

@keyframes fade-inout {
  0%{ opacity: 1;}
  100%{ opacity: 0;}
}

.connection_normal {
  position: absolute;
  background-color: green;
  color: white;
  border-radius: 30px;
  padding: 5px;
  top: 8px;
  left: 10px;
  animation: fade-inout 3s forwards;
}

.connection_warning {
  position: absolute;
  background-color: rgb(129, 0, 0);
  color: white;
  border-radius: 30px;
  padding: 5px;
  top: 8px;
  left: 10px;
}

.errorMsg {
  position: absolute;
  bottom: 7vh;
  left: 20vw;
  background-color: rgb(129, 0, 0);
  color: white;
  padding: 5px;
  margin: auto;
  width: 60vw;
  border-radius: 30px;
}

#login {
  position: absolute;
  top: 1.2vh;
  right: 2vw;
}

#loginImg {
  width: 30px;
  height: 30px;
}

#loginBtn {
  background-color: #ffffff;
  border-radius: 20px;
  height: 34px;
  width: 34px;
  padding: 0;
}

#login_div {
  width: 100vw;
  height: 93vh;
  position: absolute;
  top: 7%;
  background-color: #041e53;
  opacity: 98%;
}

#add_comment_btn {
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(to top, #122f6a, #193d86 ,#2c57ae);
  font-size: 20px;
  height: 7vh;
  width: 89vw;
  border-color: #122f6a;
  color: white;
  box-shadow: 1px -2px 5px #193d86;
}

#add_comment_btn:active {
  background-image: linear-gradient(to top, #385389, #406cc3 ,#3a6ac9);
}

#comment_form_link {
  margin: 0;
}

#user_loginImg{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.input_comment_box {
  margin: auto;
  width: 90vw;
  height: 90vw;
  border-radius: 10px;
  font-size:14pt;
}

#comment_form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#submit_comment_btn {
  width: 120px;
  height: 80px;
  margin: 30px auto auto auto;
  border-radius: 10px;
}

#login_form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  margin: 60px 10px 10px 10px;
  width: 94vw;
  background-color: white;
}

#login_form label {
  text-align: left;
  margin-left: 14px;
  margin-bottom: 7px;
  font-weight: bold;
}

#login_form input[type=text] {
  margin: auto;
  width: 80vw;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
}

#login_form input[type=text]:focus {
  outline: none;
}

#login_form input[type=submit] {
  border-color: #041e53;
  color: white;
  border-radius: 20px;
  margin: auto;
  width: 20vw;
  height: 6vh;
  margin-bottom: 20px;
  background-image: linear-gradient(to top, #122f6a, #193d86 ,#2c57ae);
}

#logged_in {
  /* position: absolute; */
  background-color: green;
  color: white;
  border-radius: 30px;
  padding: 5px;
  top: 8px;
  left: 10px;
  animation: fade-inout 5s forwards;
}